playfair-display-uniquifier {
    font-family: "Playfair Display", serif;
    font-optical-sizing:auto;
    font-weight: bold;
    font-style: normal;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    background-image: url("https://img.freepik.com/foto-gratis/collage-fondo-pelicula_23-2149876024.jpg");
    /* background: no-repeat; */
}

header {
    display: flex;
    align-items: center;
    background: rgba(27, 27, 27, 0.9);
    padding: 20px 50px;
    border-bottom: 3px solid rgb(0, 0, 0);
}
header img {
    width: 100px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    
}
header h1 {
    margin: 0;
    font-size: 2em;
    color: rgb(244, 244, 248);
    margin-right: auto;
    padding-left: 20px;
}
h2 {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    color: rgb(0, 0, 0);

}
nav ul {
    list-style: none;
    padding: 30px;
    display: flex;
    gap: 20px;
    margin: 0;
}
nav ul li {
    display: inline;
}
nav ul li a {
    text-decoration: none;
    color: rgb(244, 244, 248);
    font-size: 1.5em;
    padding: 50px;
}
nav ul li a:hover {
    color: #0611f1;
    border-bottom: 2px solid #0611f1;
}
main {
    padding: 20px;
    flex-direction: column;
}

 #create-movie {
    display: flex;
    width: 33%;
    margin-left: 33%;
 }
